# SQL Assignment 10

Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

In [2]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "SELECT Salary FROM Worker W1 WHERE 5 = (SELECT COUNT( DISTINCT ( W2.Salary ) )\
    FROM Worker W2 WHERE W2.Salary >= W1.Salary);"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

   Salary
0   90000

Q-20. Write an SQL query to fetch the list of employees with the same salary.

In [12]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "Select distinct W.WORKER_ID as ID, CONCAT(W.FIRST_NAME,' ',W.LAST_NAME) as NAME, W.Salary as SALARY from Worker W, Worker W1 where\
    W.Salary = W1.Salary and W.WORKER_ID != W1.WORKER_ID"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

   ID           NAME  SALARY
0   5    Vivek Bhati  500000
1   4  Amitabh Singh  500000