# SQL Assignment 1

Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as <WORKER_NAME>.

In [163]:
import mysql.connector as connection
try:
        mydb=connection.connect(port=3306,username="root",password="root",use_pure="True")
        query="CREATE DATABASE ORG"
        cursor=mydb.cursor()
        cursor.execute(query)
        print("Database created!!")
        mydb.close()
except Exception as e:
    print(str(e))

Database created!!

In [7]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "CREATE TABLE Worker (\
    WORKER_ID INT NOT NULL PRIMARY KEY AUTO_INCREMENT,\
    FIRST_NAME CHAR(25),\
    LAST_NAME CHAR(25),\
    SALARY INT(15),\
    JOINING_DATE DATETIME,\
    DEPARTMENT CHAR(25));"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
Table Created!!

In [8]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    # check if the connection is established
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute("INSERT INTO Worker\
    (WORKER_ID, FIRST_NAME, LAST_NAME, SALARY, JOINING_DATE, DEPARTMENT) VALUES\
    (001, 'Monika', 'Arora', 100000, '14-02-20 09.00.00', 'HR'),\
    (002, 'Niharika', 'Verma', 80000, '14-06-11 09.00.00', 'Admin'),\
    (003, 'Vishal', 'Singhal', 300000, '14-02-20 09.00.00', 'HR'),\
    (004, 'Amitabh', 'Singh', 500000, '14-02-20 09.00.00', 'Admin'),\
    (005, 'Vivek', 'Bhati', 500000, '14-06-11 09.00.00', 'Admin'),\
    (006, 'Vipul', 'Diwan', 200000, '14-06-11 09.00.00', 'Account'),\
    (007, 'Satish', 'Kumar', 75000, '14-01-20 09.00.00', 'Account'),\
    (008, 'Geetika', 'Chauhan', 90000, '14-04-11 09.00.00', 'Admin')")
    print("Data Inserted!!")
    mydb.commit()
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

Data Inserted!!

In [167]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "select FIRST_NAME as 'WORKER_NAME'  from worker;"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

  WORKER_NAME
0      Monika
1    Niharika
2      Vishal
3     Amitabh
4       Vivek
5       Vipul
6      Satish
7     Geetika

Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

In [168]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "select distinct(DEPARTMENT) as 'UNIQUE DEPARTMENT' from worker;"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

  UNIQUE DEPARTMENT
0                HR
1             Admin
2           Account

Q-3. Write an SQL query to show the last 5 record from a table.

In [170]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "(select * from worker order by WORKER_ID desc limit 5)  order by WORKER_ID asc"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

   WORKER_ID FIRST_NAME LAST_NAME  SALARY        JOINING_DATE DEPARTMENT
0          4    Amitabh     Singh  500000 2014-02-20 09:00:00      Admin
1          5      Vivek     Bhati  500000 2014-06-11 09:00:00      Admin
2          6      Vipul     Diwan  200000 2014-06-11 09:00:00    Account
3          7     Satish     Kumar   75000 2014-01-20 09:00:00    Account
4          8    Geetika   Chauhan   90000 2014-04-11 09:00:00      Admin

In [174]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "SELECT * FROM Worker where WORKER_ID>(SELECT COUNT(*)-5 FROM WORKER)"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

   WORKER_ID FIRST_NAME LAST_NAME  SALARY        JOINING_DATE DEPARTMENT
0          4    Amitabh     Singh  500000 2014-02-20 09:00:00      Admin
1          5      Vivek     Bhati  500000 2014-06-11 09:00:00      Admin
2          6      Vipul     Diwan  200000 2014-06-11 09:00:00    Account
3          7     Satish     Kumar   75000 2014-01-20 09:00:00    Account
4          8    Geetika   Chauhan   90000 2014-04-11 09:00:00      Admin

In [176]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "SELECT * FROM (SELECT *,ROW_NUMBER() OVER (ORDER BY WORKER_ID) AS SLNO FROM Worker) as Workers where SLNO>(SELECT COUNT(*)-5 FROM WORKER)"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

   WORKER_ID FIRST_NAME LAST_NAME  SALARY        JOINING_DATE DEPARTMENT  SLNO
0          4    Amitabh     Singh  500000 2014-02-20 09:00:00      Admin     4
1          5      Vivek     Bhati  500000 2014-06-11 09:00:00      Admin     5
2          6      Vipul     Diwan  200000 2014-06-11 09:00:00    Account     6
3          7     Satish     Kumar   75000 2014-01-20 09:00:00    Account     7
4          8    Geetika   Chauhan   90000 2014-04-11 09:00:00      Admin     8