# SQL Assignment 6

Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [1]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "Select * from Worker where year(JOINING_DATE) = 2014 and month(JOINING_DATE) = 2;"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

   WORKER_ID FIRST_NAME LAST_NAME  SALARY        JOINING_DATE DEPARTMENT
0          1     Monika     Arora  100000 2014-02-20 09:00:00         HR
1          3     Vishal   Singhal  300000 2014-02-20 09:00:00         HR
2          4    Amitabh     Singh  500000 2014-02-20 09:00:00      Admin

Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

In [5]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "SELECT WORKER_TITLE, AFFECTED_FROM, COUNT(*) FROM Title\
    GROUP BY WORKER_TITLE, AFFECTED_FROM HAVING COUNT(*) > 1"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

  WORKER_TITLE AFFECTED_FROM  COUNT(*)
0    Executive    2016-06-11         3
1         Lead    2016-06-11         2

In [6]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "SELECT * from title"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

   WORKER_REF_ID   WORKER_TITLE AFFECTED_FROM
0              1        Manager    2016-02-20
1              2      Executive    2016-06-11
2              8      Executive    2016-06-11
3              5        Manager    2016-06-11
4              4  Asst. Manager    2016-06-11
5              7      Executive    2016-06-11
6              6           Lead    2016-06-11
7              3           Lead    2016-06-11

Q-3. How to remove duplicate rows from Employees table.

In [ ]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "DELETE c1 FROM worker c1 INNER JOIN worker c2 WHERE c1.SALARY > c2.SALARY AND c1.FIRST_NAME = c2.FIRST_NAME"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))