# SQL Assignment 8

Q-15. Write an SQL query to fetch intersecting records of two tables.

In [2]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "select worker.worker_id, worker.first_name, workerclone.worker_id, workerclone.first_name from worker\
    inner join workerclone on workerclone.last_name = worker.last_name"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

   worker_id first_name  worker_id first_name
0          1     Monika          1     Monika
1          2   Niharika          2   Niharika
2          3     Vishal          3     Vishal
3          4    Amitabh          4    Amitabh
4          5      Vivek          5      Vivek
5          6      Vipul          6      Vipul
6          7     Satish          7     Satish
7          8    Geetika          8    Geetika

Q-16. Write an SQL query to show records from one table that another table does not have.

In [46]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb=connection.connect(port=3306,database = 'ORG',username="root",password="root",use_pure="True")
    query = "SELECT WORKER_ID FROM worker MINUS\
    SELECT WORKER_REF_ID FROM title"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

Execution failed on sql 'SELECT WORKER_ID FROM worker MINUS    SELECT WORKER_REF_ID FROM title': 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'SELECT WORKER_REF_ID FROM title' at line 1

In [48]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "select * from worker\
    left join title on title.WORKER_REF_ID = worker.worker_id"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

   WORKER_ID FIRST_NAME LAST_NAME  SALARY        JOINING_DATE DEPARTMENT  \
0          1     Monika     Arora  100000 2014-02-20 09:00:00         HR
1          2   Niharika     Verma   80000 2014-06-11 09:00:00      Admin
2          3     Vishal   Singhal  300000 2014-02-20 09:00:00         HR
3          4    Amitabh     Singh  500000 2014-02-20 09:00:00      Admin
4          5      Vivek     Bhati  500000 2014-06-11 09:00:00      Admin
5          6      Vipul     Diwan  200000 2014-06-11 09:00:00    Account
6          7     Satish     Kumar   75000 2014-01-20 09:00:00    Account
7          8    Geetika   Chauhan   90000 2014-04-11 09:00:00      Admin

   WORKER_REF_ID   WORKER_TITLE AFFECTED_FROM
0              1        Manager    2016-02-20
1              2      Executive    2016-06-11
2              3           Lead    2016-06-11
3              4  Asst. Manager    2016-06-11
4              5        Manager    2016-06-11
5              6           Lead    2016-06-11
6              7      Executive    2016-06-11
7              8      Executive    2016-06-11







# New Table Addition

In [8]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "CREATE TABLE Title (WORKER_REF_ID INT,WORKER_TITLE CHAR(25),AFFECTED_FROM DATETIME,\
	FOREIGN KEY (WORKER_REF_ID) REFERENCES Worker(WORKER_ID) ON DELETE CASCADE);"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
Table Created!!

In [16]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    # check if the connection is established
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute("INSERT INTO Title (WORKER_REF_ID, WORKER_TITLE, AFFECTED_FROM) VALUES\
    (003, 'Lead', '2016-06-11 00:00:00')")
    print("Data Inserted!!")
    mydb.commit()
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

Data Inserted!!