# SQL Assignment 3

Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

In [3]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "SELECT RTRIM(FIRST_NAME) FROM worker"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

  RTRIM(FIRST_NAME)
0            Monika
1          Niharika
2            Vishal
3           Amitabh
4             Vivek
5             Vipul
6            Satish
7           Geetika

Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

In [14]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "SELECT DISTINCT LENGTH(DEPARTMENT),DEPARTMENT FROM worker"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

   LENGTH(DEPARTMENT) DEPARTMENT
0                   2         HR
1                   5      Admin
2                   7    Account

In [12]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "SELECT DEPARTMENT,LENGTH(DEPARTMENT) FROM worker GROUP BY DEPARTMENT"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

  DEPARTMENT  LENGTH(DEPARTMENT)
0         HR                   2
1      Admin                   5
2    Account                   7

Q-3. Write an SQL query to fetch nth max salaries from a table.

In [25]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "SELECT MAX(SALARY) FROM worker"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

   MAX(SALARY)
0       500000

In [27]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "SELECT FIRST_NAME,Salary FROM Worker ORDER BY Salary DESC LIMIT 1,1"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

  FIRST_NAME  Salary
0    Amitabh  500000