# SQL Assignment 7

Q-13. Write an SQL query to show only odd rows from a table.

In [2]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "SELECT * FROM Worker WHERE MOD (WORKER_ID, 2) <> 0;"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

   WORKER_ID FIRST_NAME LAST_NAME  SALARY        JOINING_DATE DEPARTMENT
0          1     Monika     Arora  100000 2014-02-20 09:00:00         HR
1          3     Vishal   Singhal  300000 2014-02-20 09:00:00         HR
2          5      Vivek     Bhati  500000 2014-06-11 09:00:00      Admin
3          7     Satish     Kumar   75000 2014-01-20 09:00:00    Account

Q-14. Write an SQL query to clone a new table from another table.

In [67]:
import mysql.connector as connection
try:
        mydb=connection.connect(port=3306,database = 'ORG',username="root",password="root",use_pure="True")
        query="CREATE TABLE WorkerClone LIKE Worker"
        cursor=mydb.cursor()
        cursor.execute(query)
        print("Table created!!")
        mydb.close()
except Exception as e:
    print(str(e))

Table created!!

In [68]:
import mysql.connector as connection
try:
        mydb=connection.connect(host="localhost",username="root",password="root",use_pure="True")
        query="select * from ORG.WorkerClone"
        result_dataFrame = pandas.read_sql(query,mydb)
        print(result_dataFrame)
        mydb.close()
except Exception as e:
    print(str(e))

Empty DataFrame
Columns: [WORKER_ID, FIRST_NAME, LAST_NAME, SALARY, JOINING_DATE, DEPARTMENT]
Index: []

In [70]:
import mysql.connector as connection

try:
    mydb = connection.connect(port=3306, database = 'ORG',user="root", passwd="root",use_pure=True)
    # check if the connection is established
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute("INSERT INTO  WorkerClone (WORKER_ID,FIRST_NAME,LAST_NAME,SALARY,JOINING_DATE,DEPARTMENT)\
    SELECT WORKER_ID,FIRST_NAME,LAST_NAME,SALARY,JOINING_DATE,DEPARTMENT FROM Worker")
    print("Data Inserted!!")
    mydb.commit()
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

Data Inserted!!

In [71]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "select * from WorkerClone"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

   WORKER_ID FIRST_NAME LAST_NAME  SALARY        JOINING_DATE DEPARTMENT
0          1     Monika     Arora  100000 2014-02-20 09:00:00         HR
1          2   Niharika     Verma   80000 2014-06-11 09:00:00      Admin
2          3     Vishal   Singhal  300000 2014-02-20 09:00:00         HR
3          4    Amitabh     Singh  500000 2014-02-20 09:00:00      Admin
4          5      Vivek     Bhati  500000 2014-06-11 09:00:00      Admin
5          6      Vipul     Diwan  200000 2014-06-11 09:00:00    Account
6          7     Satish     Kumar   75000 2014-01-20 09:00:00    Account
7          8    Geetika   Chauhan   90000 2014-04-11 09:00:00      Admin