# SQL Assignment 9

Q-17.  Write an SQL query to show the top n (say 10) records of a table.

In [1]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "SELECT * FROM Worker ORDER BY Salary DESC LIMIT 10"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

   WORKER_ID FIRST_NAME LAST_NAME  SALARY        JOINING_DATE DEPARTMENT
0          4    Amitabh     Singh  500000 2014-02-20 09:00:00      Admin
1          5      Vivek     Bhati  500000 2014-06-11 09:00:00      Admin
2          3     Vishal   Singhal  300000 2014-02-20 09:00:00         HR
3          6      Vipul     Diwan  200000 2014-06-11 09:00:00    Account
4          1     Monika     Arora  100000 2014-02-20 09:00:00         HR
5          8    Geetika   Chauhan   90000 2014-04-11 09:00:00      Admin
6          2   Niharika     Verma   80000 2014-06-11 09:00:00      Admin
7          7     Satish     Kumar   75000 2014-01-20 09:00:00    Account

Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

In [14]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "SELECT Salary FROM Worker ORDER BY Salary DESC LIMIT 5,1"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

   Salary
0   90000