# SQL Assignment 2

Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

In [4]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "select SUBSTRING(FIRST_NAME,1,3) as 'FIRST_NAME(First 3 Characters)' from worker;"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

  FIRST_NAME(First 3 Characters)
0                            Mon
1                            Nih
2                            Vis
3                            Ami
4                            Viv
5                            Vip
6                            Sat
7                            Gee

Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

POSITION OF A

In [15]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "SELECT POSITION('A' IN FIRST_NAME) FROM worker WHERE FIRST_NAME = 'Amitabh'"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

   POSITION('A' IN FIRST_NAME)
0                            1

In [13]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "SELECT INSTR(first_name, 'A') FROM worker WHERE first_name = 'Amitabh'"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

   INSTR(first_name, 'A')
0                       1

In [ ]:
POSITION OF a

In [9]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "Select INSTR(FIRST_NAME, BINARY'a') as 'Position of ''a'' in Amitabh' from Worker where FIRST_NAME = 'Amitabh'"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

   Position of 'a' in Amitabh
0                           5

Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

In [42]:
import mysql.connector as connection
import pandas as pandas

try:
    mydb = connection.connect(host="localhost", database = 'ORG',user="root", passwd="root",use_pure=True)
    query = "SELECT t.DEPARTMENT,CONCAT(t.FIRST_NAME,' ',t.LAST_NAME) as 'WORKER NAME',t.Salary from\
    (SELECT max(Salary) as TotalSalary,DEPARTMENT from Worker group by DEPARTMENT)as TempNew\
    Inner Join Worker t on TempNew.DEPARTMENT=t.DEPARTMENT and TempNew.TotalSalary=t.Salary ORDER BY SALARY DESC"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

  DEPARTMENT     WORKER NAME  Salary
0      Admin   Amitabh Singh  500000
1      Admin     Vivek Bhati  500000
2         HR  Vishal Singhal  300000
3    Account     Vipul Diwan  200000